<% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %>

<div class="panel panel-primary">
  <div class="panel-heading">
    Login
  </div>
  <div class="panel-body">
    <form role="form" action="/auth/local" method="post">
      <div class="form-group">
        <label for="identifier">Username:</label>
        <input class="form-control" type="text" name="identifier" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
</div>

<% if (Object.keys(providers).length) {%>
  <h4>You can also use one of these...</h4>

  <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %>
