<form class="edit" ng-submit="save()">
	<div class="form-group">
		<h2> Alumno </h2>

		<div class="form-group" style="width: 400px;">
			<label>Nombre</label>
			<input ng-model="alumno.Alumno.nombre" name="nombre" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Apellido paterno</label>
			<input ng-model="alumno.Alumno.apellidoPaterno" name="apellidoPaterno" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Apellido materno</label>
			<input model="alumno.Alumno.apellidoMaterno" name="apellidoMaterno" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Fecha de nacimiento</label>
			<input ng-model="alumno.Alumno.fechaNacimiento" name="fechaNacimiento" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>No. de hijos</label>
			<input ng-model="alumno.Alumno.numeroHijos" name="numeroHijos" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Sexo</label>
			<input ng-model="alumno.Alumno.sexo " name="sexo" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Estado civil</label>
			<input ng-model="alumno.Alumno.estadoCivil" name="estadoCivil" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Padre tutor</label>
			<input ng-model="alumno.Alumno.padreTutor" name="padreTutor" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>RFC</label>
			<input ng-model="alumno.Alumno.rfc" name="rfc" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Curp</label>
			<input ng-model="alumno.Alumno.curp" name="curp" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Etnia</label>
			<input ng-model="alumno.Alumno.etnia" name="etnia" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Empresa</label>
			<input ng-model="alumno.Alumno.empresa" name="empresa" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>No. de dependientes</label>
			<input ng-model="alumno.Alumno.numDependientes" name="numDependientes" type="text" class="form-control" />
		</div>
		<div class="form-group" style="width: 400px;">
			<label>Domicilio</label>
			<input ng-model="alumno.Alumno.domicilio" name="domicilio" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Email</label>
			<input ng-model="alumno.Alumno.email" name="email" type="text" class="form-control" />
		</div>

		<div class="form-group" style="width: 400px;">
			<label>Incrito</label>
			<input ng-model="alumno.Alumno.inscrito" name="inscrito" type="text" class="form-control" />
		</div>

	</div>
	<input type="submit" value="Enviar" class="btn btn-default"/>
	<a href="#/alumno/show/{{alumno.Alumno.id}}" class="btn btn-danger">Cancel</a>
</form>


