<form class="show">
	<div class="form-group">
		<h2> a Documento... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= Documento.nombre %>" name="nombre" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/Documento/edit/<%=Documento.id %>" class="btn btn-default">Edit</a> |
<a href="/Documento">Back to list</a>
</form>