
<div class="container" ng-controller="AlumnoController" >
	<h3>Alumno</h3>
	<table id="tableAlumno" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th> Nombre </th>

				<th> Apellido </th>

				<th> Fecha Nacimiento </th>

				<th> Sexo </th>

				<th> Curp </th>

				<th> Domicilio </th>

				<th> Email </th>

				<th> Inscrito </th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th> Nombre </th>

				<th> Apellido </th>

				<th> Fecha Nacimiento </th>

				<th> Sexo </th>

				<th> Curp </th>

				<th> Domicilio </th>

				<th> Email </th>

				<th> Inscrito </th>
			</tr>
		</tfoot>
		<tbody >
			<tr ng-repeat="alumno in alumnos">
				<td>{{alumno.nombre}}</td>
				<td>{{alumno.apellidoPaterno+" "+alumno.apellidoMaterno}}</td>
				<td>{{alumno.fechaNacimiento}}</td>
				<td>{{alumno.sexo}}</td>
				<td>{{alumno.curp}}</td>
				<td>{{alumno.domicilio}}</td>
				<td>{{alumno.email}}</td>
				<td>{{alumno.inscrito}}</td>
			</tr>

		</tbody>
	</table>
</div>