<div class="form-group">
		<h2> Alumno </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>Nombre</label>
	<input ng-model="{{alumno.nombre}}" name="nombre" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Apellido paterno</label>
	<input ng-model="{{alumno.apellidoPaterno}}" name="apellidoPaterno" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Apellido materno</label>
	<input model="{{alumno.apellidoMaterno}}" name="apellidoMaterno" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Fecha de nacimiento</label>
	<input ng-model="{{alumno.fechaNacimiento}}" name="fechaNacimiento" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>No. de hijos</label>
	<input ng-model="{{alumno.numeroHijos }}" name="numeroHijos" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Sexo</label>
	<input ng-model="{{alumno.sexo }}" name="sexo" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Estado civil</label>
	<input ng-model="{{alumno.estadoCivil }}" name="estadoCivil" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Padre tutor</label>
	<input ng-model="{{alumno.padreTutor}}" name="padreTutor" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>RFC</label>
	<input ng-model="{{alumno.rfc }}" name="rfc" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Curp</label>
	<input ng-model="{{alumno.curp}}" name="curp" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Etnia</label>
	<input ng-model="{{alumno.etnia }}" name="etnia" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Empresa</label>
	<input ng-model="{{alumno.empresa }}" name="empresa" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>No. de dependientes</label>
	<input ng-model="{{alumno.numDependientes }}" name="numDependientes" type="text" class="form-control" disabled/>
	</div>
	<div class="form-group" style="width: 400px;">
	<label>Domicilio</label>
	<input ng-model="{{alumno.domicilio }}" name="domicilio" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Email</label>
	<input ng-model="{{alumno.email }}" name="email" type="text" class="form-control" disabled/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>Incrito</label>
	<input ng-model="{{alumno.inscrito }}" name="inscrito" type="text" class="form-control" disabled/>
	</div>

</div>