<form action="/Preinscripcion/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a Preinscripcion</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
		<% Object.keys(flash.err).forEach(function(error) { %>
			<li>
				<%- JSON.stringify(flash.err[error]) %>
			</li>
		<% }) %>
		</ul>
	<% } %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			Login
		</div>
	<fieldset>
		<legend><h1>Datos Personales</h1></legend>
		<div class="panel-body">
			<div class="col-md-6">

				<div class="control-group">
					<label for="nombre">Nombre: </label>
					<input type="text" class="form-control" placeholder="Nombre" name="nombre">
				</div>

				<div class="control-group">
					<label for="nombre">Apellido Paterno: </label>
					<input type="text" class="form-control" placeholder="apellidoPaterno" name="apellidoPaterno">
				</div>

				<div class="control-group">
					<label for="nombre">Apellido Materno: </label>
					<input type="text" class="form-control" placeholder="apellidoMaterno" name="apellidoMaterno">
				</div>

				<div class="control-group">
					<label for="fechaNacimiento">Fecha Nacimiento: </label>
					<input type="date" class="form-control" placeholder="fechaNacimiento" name="fechaNacimiento">
				</div>

				<div class="control-group">
					<label for="numeroHijos">Numero Hijos: </label>
					<input type="number" class="form-control" placeholder="numeroHijos" name="numeroHijos">
				</div>

				<div class="control-group">
					<label for="sexo">Sexo: </label>
					<select class="form-control" name="sexo">
						<option value="M">Masculino</option>
						<option value="F">Femenino</option>
					</select>
				</div>

				<div class="control-group">
					<label for="estadoCivil">Estado Civil: </label>
					<select class="form-control" name="estadoCivil">
						<option value="">Estado Civil</option>
						<option value="Soltero">Soltero</option>
						<option value="Casado">Casado</option>
						<option value="Divorciado">Divorciado</option>
						<option value="Viduo">Viduo</option>
						<option value="Union Libre">Union Libre</option>
					</select>
				</div>

				<div class="control-group">
					<label for="padreTutor">Padre Tutor: </label>
					<input type="text" class="form-control" placeholder="padreTutor" name="Padre Tutor">
				</div>

				<div class="control-group">
					<label for="RFC">RFC: </label>
					<input type="text" class="form-control" placeholder="rfc" name="rfc">
				</div>

				<div class="control-group">
					<label for="curp">CURP: </label>
					<input type="text" class="form-control" placeholder="curp" name="curp">
				</div>

				<div class="control-group">
					<label for="curp">etnia: </label>
					<input type="text" class="form-control" placeholder="etnia" name="etnia">
				</div>

				<div class="control-group">
					<label for="redSocial">Red Social: </label>
					<input type="text" class="form-control" placeholder="redSocial" name="redSocial">
				</div>
				<div class="control-group">
					<label for="curp">Empresa: </label>
					<input type="text" class="form-control" placeholder="empresa" name="empresa">
				</div>
			</div>
				<div class="col-md-6">

				<div class="control-group">
					<label for="curp">Num. Dependientes: </label>
					<input type="number" class="form-control" placeholder="numDependientes" name="numDependientes">
				</div>

				<div class="control-group">
					<label for="curp">Domicilio: </label>
					<input type="text" class="form-control" placeholder="domicilio" name="domicilio">
				</div>

				<div class="control-group">
					<label for="curp">e-mail: </label>
					<input type="email" class="form-control" placeholder="email" name="email">
				</div>

				<div class="control-group">
					<label for="municipio">Municipio: </label>
					<input type="text" class="form-control" placeholder="municipio" name="municipio">
				</div>

				<div class="control-group">
					<label for="estado">Estado: </label>
					<input type="text" class="form-control" placeholder="estado" name="estado">
				</div>

				<div class="control-group">
					<label for="pais">País: </label>
					<input type="text" class="form-control" placeholder="pais" name="pais">
				</div>
			

			
				<div class="control-group">
					<label for="extrangero">¿Eres Extranjero?</label>
					<select class="form-control" name="extrangero">
						<option value="">¿Eres Extranjero?</option>
						<option value="true">SI</option>
						<option value="false">NO</option>
					</select>
				</div>

				<div class="control-group">
					<label for="padresMexicanos">¿Los padres son mexicanos?</label>
					<select class="form-control" name="padresMexicanos">
						<option value="">¿Los padres son mexicanos?</option>
						<option value="true">SI</option>
						<option value="false">NO</option>
					</select>
				</div>

				<div class="control-group">
					<label for="padresMexicanos">Peso: </label>
					<input type="text" class="form-control" placeholder="Padres Mexicanos" name="padresMexicanos">
				</div>

				<div class="control-group">
					<label for="estatura">Estatura: </label>
					<input type="text" class="form-control" placeholder="estatura" name="estatura">
				</div>

				<div class="control-group">
					<label for="telefonoCasa">Telefono Casa: </label>
					<input type="text" class="form-control" placeholder="telefonoCasa" name="telefonoCasa">
				</div>

				<div class="control-group">
					<label for="telefonoCasa">Telefono Celular: </label>
					<input type="text" class="form-control" placeholder="telefonoCelular" name="telefonoCelular">
				</div>


			</div>
			</fieldset>
			<fieldset>
				<legend><h1>Informacion de Salud</h1></legend>
				<div class="control-group">
					<label for="estatura">Tipo de Sangre: </label>
					<select class="form-control" name="tipoSangre">
						<option value="">Tipo de Sangre</option>
						<option value="O+">O+</option>
						<option value="O-">O-</option>
						<option value="A+">A+</option>
						<option value="A-">A-</option>
						<option value="AB+">AB+</option>
						<option value="AB-">AB-</option>
						<option value=""></option>
					</select>
				</div>

				<div class="control-group">
					<label for="antecedentesMedicos">Antecedentes Medicos: </label>
					<input type="text" class="form-control" placeholder="antecedentesMedicos" name="antecedentesMedicos">
				</div>

				<div class="control-group">
					<label for="capacidadDiferente">Capacidad Diferente: </label>
					<input type="text" class="form-control" placeholder="capacidadDiferente" name="capacidadDiferente">
				</div>

				<div class="control-group">
					<label for="otrosAntecedentes">Otros Antecedentes: </label>
					<input type="text" class="form-control" placeholder="otrosAntecedentes" name="otrosAntecedentes">
				</div>

			</fieldset>
		<fieldset>
			<legend> <h1>Escuela de Procedencia</h1></legend>
				<div class="control-group">
					<label for="preparatoria">Preparatoria: </label>
					<input type="text" class="form-control" placeholder="preparatoria" name="preparatoria">
				</div>

				<div class="control-group">
					<label for="especialidad">Especialidad: </label>
					<input type="text" class="form-control" placeholder="especialidad" name="especialidad">
				</div>

				<div class="control-group">
					<label for="promedioFinal">Promedio Final: </label>
					<input type="text" class="form-control" placeholder="promedioFinal" name="promedioFinal">
				</div>
		</fieldset>
		<fieldset>
			<legend> <h1>Carrera que Solicita</h1></legend>
				<div class="control-group">
					<label for="carreraSolicitada">Carrera Solicitada: </label>
					<input type="text" class="form-control" placeholder="carreraSolicitada" name="carreraSolicitada">
				</div>

				<div class="control-group">
					<label for="segundaOpcion">Segunda Opcion: </label>
					<input type="text" class="form-control" placeholder="segundaOpcion" name="segundaOpcion">
				</div>

				<div class="control-group">
					<label for="turnoEntrevista">Turno Entrevista: </label>
					<input type="text" class="form-control" placeholder="turnoEntrevista" name="turnoEntrevista">
				</div>

				<div class="control-group">
					<label for="estadoPago">Estado Pago: </label>
					<input type="text" class="form-control" placeholder="estadoPago" name="estadoPago">
				</div>

				<div class="control-group">
					<label for="carrera">Carrera: </label>
					<select class="form-control" name="carrera">
						<option>Selecciona la carrera</option>
						<% _.forEach(carreras, function(carrera) { %>
							<option value="<%= carrera.id %>">
								<%= carrera.nombre %>
							</option>
						<% })%>
					</select>
				</div>
			</fieldset>

			</div>
		</div>
	</div>

	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/Preinscripcion">Back to list</a>
</form>